<script context="module">
    export const prerender = true;
</script>
  
<script>
    import { base } from '$app/paths';
    import { onMount } from 'svelte';
  
    onMount(() => {
      const supportedLanguages = ['en', 'fr'];
      const defaultLang = 'en';
  
      const browserLang = navigator.language.split('-')[0];
  
      const lang = supportedLanguages.includes(browserLang) ? browserLang : defaultLang;
  
      window.location.href = `${base}/${lang}`;
    });
</script>

<svelte:head>
  <meta name="robots" content="noindex" />
</svelte:head>

<p>Redirect</p>