<!-- A secondary about page which details the environment and eco system of arvest -->

<div class="cont">
    <p>This page is currently under construction. Please return soon for more content.</p>
</div>

<style>
    .cont{
        padding-top: 5em;
        padding-bottom: 5em;
    }

    p{
        font-size: 0.5em;
    }
</style>