<div class="cont">
    <p>We are currently in the process of setting up a <a href="https://www.discourse.org">discourse</a> forum. Check back soon!</p>
</div>

<style>
    .cont{
        padding-top: 5em;
        padding-bottom: 5em;
    }

    p{
        font-size: 0.5em;
    }
</style>