<div class="cont">
    <h1>Credits</h1>

    <p>
        This project has received funding from the European Research Council (ERC) under the European Union's Horizon Europe research and innovation program (grant agreement no. 101097091 - STAGE). Views and opinions expressed are, however, those of the author(s) only and do not necessarily reflect those of the European Union or ERC. Neither the European Union nor the granting authority can be held responsible for them.
    </p>

    <h2>Legal Representative</h2>
    <p>
        The Université Rennes 2 represented by Vincent Gouëset (president).
    </p>

    <h2>Editorial Staff</h2>
    <ul>
        <li>Clarisse Bardiot</li>
        <li>Jacob Hart</li>
    </ul>

    <h2>Website development</h2>
    <ul>
        <li>Jacob Hart, development</li>
        <li>Emmanuel Blondiau, graphic design</li>
        <li>svelte, js framework</li>
    </ul>

    <h2>Photographs</h2>
    <ul>
        <li>Performances : Christophe Raynaud de Lage</li>
        <li>Team portraits : Sébastien Boyer</li>
    </ul>

    <h2>Terms and conditions of use</h2>
    <p>
        The user acknowledges having read this legal notice and undertakes to comply with it. The user acknowledges that he/she has checked that the computer configuration he/she is using does not contain any virus or any other "malicious software" and that it is in perfect working order. The user is solely responsible for the choice, use and interpretation of the data he/she consults, interrogates and transfers on the Internet. The website owner makes every effort to provide users with available and verified information and/or tools, but cannot be held responsible for errors, lack of availability of information and/or the presence of viruses or "malicious software" on its site.
    </p>

    <h2>Data protection</h2>
    <p>
        This website contains personal information concerning staff, students and partners of Arvest. In accordance with the French Data Protection Act no. 78-17 of January 6, 1978, as amended, you have the right to access, oppose, rectify and delete data concerning you. To exercise this right, please contact the project's 'Correspondant Informatique et Libertés'.
    </p>

    <h2>Intellectual property, reproduction rights, links</h2>
    <p>
        The general structure as well as the software, texts, images (animated or not), sounds, know-how, etc. and all other elements making up the site are the exclusive property of Arvest or are regularly used under license. This entire site is governed by French and international legislation on copyright and intellectual property. All reproduction rights are reserved, including for downloadable documents and iconographic or photographic representations. Any total or partial electronic reproduction of this site without the express authorization of Arvest is prohibited and constitutes an infringement punishable by articles L 335-2 et seq. of the French Intellectual Property Code (CPI), unless expressly stated otherwise. Reproduction on paper of pages from this site is authorized unless explicitly stated otherwise, subject to compliance with the following conditions:
    </p>
        <ul>
            <li>→ respect for the integrity of the documents reproduced</li>
            <li>→ explicit mention of the origin: XXX.arvest.app and that reproduction rights are reserved and limited</li>
            <li>→ free distribution</li>
        </ul>
    <p>
        The databases appearing on this site are protected by the provisions of the law of July 1, 1998, transposing the directive of March 11, 1996 on the legal protection of databases into the CPI.
    </p>

    <h2>Notification procedure</h2>
    <p>
        Any user noticing inaccuracies, erroneous information or information of a manifestly illicit nature is required to inform the publication manager so that the latter can put an end to it. Modification of the legal notice Arvest, owner and operator of the site, reserves the right to modify the present notice at any time. The user therefore undertakes to consult it regularly.
    </p>

    <h2>Applicable law</h2>
    <p>
        In the event of litigation, French law is applicable. Exclusive jurisdiction is granted to the competent courts of Rennes (France).
    </p>
</div>

<style>
    .cont{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    h2{
        font-size: 0.7em;
        padding-bottom: 0.4em;
    }

    h1{
        padding-bottom: 1em;
    }

    p{
        font-size: 0.5em;
        padding-bottom: 1em;
    }

    ul{
        font-size: 0.5em;
        padding-bottom: 1em;
        font-family: 'Input-Mono-Narrow-Thin', monospace;
    }
</style>